.profileInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0px 10px 0px;
}

.profileInfo__item {
  padding: 5px 0px 5px 0px;
  color: #8e8e8e;
}

.item--stretched > * {
  display: block;
}

.profileInfo__count {
  font-weight: 600;
  color: black;
}
